.title {
    font-size: 100px;
    text-align: center;
    font-family: Helvetica
}

.icons {
    position: relative;
    height: 250px;
    width: 250px;
}

.icons2 {
    position: relative;
    height: 300px;
    width: 300px;
}

.evenly-distributed-children {
    display: flex;
    justify-content: space-between;
}

#LI{
    left:20vw;
}

#IG{
    right: 20vw;
}

#TT{
    left: 18vw;
}

#FB{
    right: 18vw;
}

#phone{
    left:20vw;
}

#mail{
    right:20vw;
}