.title {
    font-size: 10vw;
    text-align: center;
    font-family: Helvetica;
    color: white;/*
    -webkit-text-stroke: 5px black;*/
}

.icons {
    position: relative;
    height: 25em;
    width: 25em;
}

html {
    min-height: 100%;
    background-image: url("icons/bg.jpg");
    background-size: cover;
}

.icons2 {
    position: relative;
    height: 25em;
    width: 25em;
    margin-top: 5em;
}

.evenly-distributed-children {
    display: flex;
    justify-content: space-between;
}

#LI {
    left: 20vw;
}

#IG {
    right: 20vw;
}

#TT {
    left: 18vw;
}

#FB {
    right: 18vw;
}

#phone {
    left: 20vw;
}

#mail {
    right: 20vw;
}
